#containment-wrapper {
  width:1831px;
  height:1102px;
  padding:0px;
  background-image: url('../assets/background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}
.avatar{
	width:50px;
}
.wide-avatar{
	width:100px;
}
.small-item{
	width:30px;
}
.medium-item{
	width:130px;
}
.big-item{
	width:200px;
}
.huge-item{
	width:700px;
}
.place{
	position:absolute;
}
.inventory{
display:none;
border:2px dashed #ccc;
margin-top:100px;
width:300px;
height:300px;
}
.pack{
	position:absolute;
	width:500px;
}
.item{
	width:50px;
}