#doodoos{
	position:absolute;
	left:800px;
	top:500px;
}
#avatars1{
	position:absolute;
	left:600px;
	top:100px;
	width:1200px;
}
#avatars2{
	position:absolute;
	left:1000px;
	top:300px;
	width:850px;
}
#places{
	position:absolute;
	width:300px;
	left:50px;
	top:400px;
}
.georgie{
	position:absolute;
	width:500px;
	left:1300px;
	top:500px;
}
#robbers{
	position:absolute;
	left:400px;
	top:500px;
}
#things{
	position:absolute;
	left:300px;
	top:900px;
}
#bonnets{
	position:absolute;
	left:1000px;
	top:450px;
	width:750px;
}
#bonnets img{
	margin:-10px;
}
.georgie-bonnet{
	width:500px;
	top:440px;
	left:1300px;
}
#discos{
	position:absolute;
	top:800px;
	left:750px;
}
#gifts{
	position:absolute;
	top:720px;
	left:700px;
}
#mounie{
	position:absolute;
	top:820px;
	left:700px;
}
#party{
	display:none;
}